body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


#menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(179, 179, 179);
    background: linear-gradient(to top left, rgb(179, 179, 179), rgb(255, 255, 255));
    box-shadow: 2px 2px 5px rgb(168, 168, 168);
    position: sticky;
    top: 0;
    margin-bottom: 5%;
}

.logo_completa {
    width: 50%;
    margin: 1% 5%;
}

.links {
    margin: 0 10%;
    width: 100%;
}

.links > .link{
    text-decoration: none;
    color: rgb(100, 100, 100);
    margin-right: 13%;
    font-size: 1.1em;
}

.links > .link:hover{
    text-decoration: overline;
    color:#3590d5;
    text-shadow: 2px 2px 5px #1a6caa;
}

#home > .setups{
   display: flex; 
   justify-content: space-evenly;
   text-align: center;
   color: #1a329b;
   margin-bottom: 5%;
}

.setup_box{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 1%;
}

.setup_box:hover{
    box-shadow: 3px 3px 10px rgb(179, 179, 179);
    text-shadow: 2px 2px 5px #1a329b;
}
.setup_box > img{
    width: 95%;
    margin-top: 2%;
}

#sobre {}

.servicos_box {}